@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main a {
    @apply text-dm-peach-dark underline-offset-4 hover:underline;
  }

  main ul {
    @apply list-disc list-outside ml-8 mt-2;
  }
  main ul li {
    @apply mb-2;
  }

  h1,
  h2,
  h3 {
    @apply font-beyond;
  }

  h3 {
    @apply text-3xl;
  }
}

html {
}

h1.font-beyond {
  font-size: 8rem;
  line-height: 8rem;
}
h2.font-beyond {
  font-size: 5rem;
}

body,
.paper-background {
  background-image: url("/assets/images/tile-paper.jpg");
  background-size: 256px;
}
.monogram-tile-overlay {
  background-image: url("/assets/images/tile-monogram.svg");
  background-size: 140px;
  opacity: 0.15;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
} */

.hero-image {
  -webkit-mask-image: url("/assets/images/hero-mask.svg");
  mask-image: url("/assets/images/hero-mask.svg");
  background-image: url("/assets/images/beach.jpg");
  padding-bottom: 93%;
  background-position: center;
  background-size: cover;

  mask-size: 143%;
  mask-repeat: no-repeat;
  mask-position: top left;
}

.hero-text h1:nth-child(1),
.hero-text h1:nth-child(2),
.hero-text h1:nth-child(3) {
  line-height: normal;
}

.hero-text h1:nth-child(1) {
  font-size: 9.5rem;
}

.hero-text h1:nth-child(3) {
  font-size: 8rem;
  padding-left: 6.5rem;
  margin-top: -4rem;
}

.hero-text h1:nth-child(2) {
  position: absolute;
  left: 3.5rem;
  font-size: 4.5rem;
}

.simple-image-carousel {
  /* display: flex; */
  /* flex: 1 1 auto; */
  /* overflow-x: auto; */
  /* display: flex;
  flex: 1;
  min-width: 0px; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.simple-image-carousel > div {
  /* display: flex;
  flex: 0 0 auto;
  flex-direction: row; */
  /* flex: 1;
  overflow: auto; */
  display: inline-block;
}

@media (min-width: 768px) {
  .hero-image {
    padding-bottom: 67%;
    mask-size: 100%;
  }
  .hero-text {
    /* top: 40%; */
  }
}

@media (min-width: 1024px) {
  main {
    /* border-radius: 20px 20px 0 0; */
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  .hero-text h1:nth-child(1) {
    font-size: 7rem;
  }

  .hero-text h1:nth-child(3) {
    font-size: 5.5rem;
    padding-left: 5.5rem;
    margin-top: -3rem;
  }

  .hero-text h1:nth-child(2) {
    position: absolute;
    left: 3.5rem;
    font-size: 2.8rem;
    bottom: 0.2rem;
  }
}
